@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
	padding: 0%;
	margin: 0%;

	/* viskas naudoja ubuntu font */
	font-family: 'Ubuntu', sans-serif;
}

html {
	height: 100%;

}

body {
	min-height: 100%;

	background-image: url(../images/test.jpg);

	background-size:       95%;
	background-position:   center;
	background-repeat:     no-repeat;
	background-attachment: fixed;

	background-color: #efefef;

	box-shadow: 10vw  15vh 65px #efefef inset, 
	           -10vw -15vh 65px #efefef inset; 

	padding-left: 30%;
	padding-right: 30%;

	padding-bottom: 10px;
}

header {
	font-size:   0px;

	background-image: url(../images/top.png);

	background-repeat:   repeat-x;
	background-size: 20%;
	min-width:  60%;
	min-height: 100px;

	padding-top: 30px;
}

nav, article {
	background-color: rgba(225, 225, 225, 0.8);

	padding: 10px;
	border:  2px solid #aaa;

	margin-top: 10px;
}

article a:link {
	font-weight: 600;
	color:      #999;
}

article a:visited {
	font-weight: 600;
	color:      #999;
}

article a:hover {
	text-decoration-line: none;

	font-weight: 600;
	color:      #0a0;
}

nav a:link {
	text-decoration-line: none;

	color: #000;
}

nav a:visited  {
	text-decoration-line: none;

	color: #000;
}

nav a:hover  {
	text-decoration-line: underline;
	
	color: #999;
}

footer nav:last-of-type {
	border:           0px;
	background-color: rgba(0,0,0,0);

	font-size: 14px
}

footer p:last-of-type {
	font-size: 14px;
}

p {
	height: auto;
}

a {
	padding-right: 10px;
}

h2 {
	margin-bottom: 10px;
}
